* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

main {
    background-color: rgb(246, 249, 252);
}

a {
    text-decoration: none !important;
}

li {
    list-style: none;
}

img {
    max-width: 100%;
    max-height: 100%;
}

html {
    overflow-x: hidden !important;
}

.header__all {
    box-shadow: rgba(0, 0, 0, 0.101) 0px 5px 15px;}

.header__sect_1 {
    width: 100%;
    background-color: rgb(15, 52, 96);
    color: white;
    height: 40px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.header__sect__1__left {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.header__sect__1__right {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;

    img {
        width: 30px;
        height: 20px;
    }

    a {
        color: white;
    }
}

.header__sec__1__imgdiv {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;

    select {
        background-color: transparent;
        border: none;
        color: white;
    }
}

.res__img__header {
    display: none;
}

@media only screen and (max-width: 800px) {
    .header__top {
        display: none;
    }

    .res__img__header {
        display: block;
    }

    .header__theme {
        display: none;
    }

    .header__help {
        display: none;
    }

    .header__sect_1 {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
}

/* section2 design  */
.header__section2 {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 80px;
    /* border: 2px solid blue; */
}

.header__section2__middle {
    display: flex;
    justify-content: center;
    align-items: center;
    /* border: 1px solid gray; */
    border-radius: 10px;

}

.header__2__serch__inpdiv {
    /* border: 1px solid red; */
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;

    i {
        width: 30px;
        height: 40px;
        display: flex;
        justify-content: center;
        align-items: center;
        border: 1px solid rgba(128, 128, 128, 0.197);
        border-top-left-radius: 10px;
        border-bottom-left-radius: 10px;
        border-right: none !important;
    }

    input {
        width: 290px;
        height: 40px;
        display: flex;
        justify-content: center;
        align-items: center;
        border-left: none !important;
        border: 1px solid rgba(128, 128, 128, 0.139);
    }

    select {
        width: 100px;
        height: 40px;
        display: flex;
        justify-content: center;
        align-items: center;
        border: 1px solid rgba(128, 128, 128, 0.21);
        border-top-right-radius: 10px;
        border-bottom-right-radius: 10px;
    }
}

.header__section2__icons1 {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;

    button {
        width: 40px;
        height: 40px;
        font-size: 18px;
        border-radius: 50%;
        border: none;
        color: gray;
        display: flex;
        justify-content: center;
        align-items: center;
    }
}

@media only screen and (max-width: 600px) {
    .header__section2__left {
        display: none;
    }

    .header__section2__right {
        display: none;
    }
}

@media only screen and (max-width: 443px) {
    .header__2__serch__inpdiv {


        input {
            width: 150px !important;
            height: 50px;
            display: flex;
            justify-content: center;
            align-items: center;
            border: 1px solid rgba(128, 128, 128, 0.139);
        }

        select {
            width: 70px !important;
            color: red;
            height: 50px;
        }

        i {
            height: 50px;
        }
    }

}


/* header section3 desig  */
.header__section3 {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 40px;
}

.header__section3__links {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    margin-right: 100px;

    a {
        color: rgba(0, 0, 0, 0.713);
        font-size: 20px;
    }
}

.header__section3__left {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 18px;
    gap: 20px;

}

.header__section3__left {
    height: 30px;
    color: gray;
    width: 250px;
    background-color: #f6f6fc65;
}

.header__section4 {
    display: none;
}

@media only screen and (max-width: 950px) {
    .header__section3 {
        display: none;
    }

    .header__section4 {
        display: block !important;
    }
}


/* header section 4 design  */
.header__section4__all {
    width: 100%;
    background-color: white;
    height: 40px;
    position: fixed;
    bottom: 0;
    left: 0;
    z-index: 12;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    font-size: 23px;


}

@media only screen and (max-width: 950px) {

    .header__section4__all {
        display:
            flex !important;

        background-color: white;
        gap: 50px;
    }
}

@media only screen and (max-width: 550px) {

    .header__section4__all {
        display:
            flex !important;

        gap: 30px;
        font-size: 18px;
        height: 46px;
    }
}



/* section1 design  */
.section1{
background-color: white;  
margin-top: 2px;  
}
.homesection1__left {

    width: 200px;
    margin-left: 15px;
border-radius: 5px;
    background-color: white;
    border: 1px solid rgba(128, 128, 128, 0.133);
    /* box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px; */

    ul {
        display: flex;
        flex-direction: column;
        gap: 10px;
        
        .salam {
            font-size: 20px;
            display: flex;
            justify-content: space-between;
color: gray;
            i{
                margin-right: 10px;
            }
        }
    }
}

.section1 {
    display: flex;
    justify-content: center;
    /* align-items: center; */

}

.homesection2__right {
    width: 70% !important;
}



/* swiper css the differ */
.homesection1__left {
    width: 250px;
}

html,
body {
    position: relative;
    height: 100%;
}

body {
    /* background: #eee; */
    font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
    font-size: 14px;
    color: #000;
    margin: 0;
    padding: 0;
}

.swiper {
    width: 100%;
    height: 100%;
}

.swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
}

.swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.firstSwiperHome {
    display: flex !important;
}

.swiper__img {
    img {
        width: 100%;
        height: 50vh;
    }

}

.swiperFirsttext {
    width: 50%;

    h2 {
        font-size: 40px;
    }

    p {
        color: gray;
    }
}

.firstswiperbuuton {
    width: 100px;
    height: 40px;
    background-color: rgb(233, 69, 96);
    border: none;
    border-radius: 10px;
    color: white;
}



/* section2 design  */
.section2 {
    width: 100%;
    margin-top: 20px;
    /* background-color: gray; */
}

.section2__all {
    width: 90%;
}


/* swiper2 design  */



html,
body {
    position: relative;
    height: 100%;
}

body {
    background: #eee;
    font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
    font-size: 14px;
    color: #000;
    margin: 0;
    padding: 0;
}

.mySwiper {
    width: 80%;
    height: 80%;
}

.firstSwiperHome {
    text-align: center;
    font-size: 18px;
    background: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
}

@media (max-width: 760px) {
    .swiper-button-next {
        right: 20px;
        transform: rotate(90deg);
    }

    .swiper-button-prev {
        left: 20px;
        transform: rotate(90deg);
    }

    .homesection2__card {
        height: 800px;
    }
}


@media (max-width: 750px) {
    .section1 {
        width: 100%;
    }

    .homesection1__left {
        display: none;
    }

    .homesection2__right {
        width: 100%;
    }

    .firstSwiperHome {
        width: 100%;
    }

    .swiperFirsttext {
        width: 100%;

        h2 {
            font-size: 20px;

        }

        p {
            width: 100%;
            font-size: 18px;
            color: rebeccapurple;
        }
    }

    .swiper__img {
        width: 100%;

        img {
            width: 100%;
        }
    }

    .homesection2__card {
        height: 200px;
    }

}

.secondswiper2 {
    /* border: 2px solid red; */
    display: flex;
    justify-content: center;
    align-items: center !important;

}

.secondwrapper {
    /* border: 2px solid gray; */
}

.secondSwiper {
    /* border: 3px solid pink; */
}









html,
body {
    position: relative;
    height: 100%;
}

body {
    background: #eee;
    font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
    font-size: 14px;
    color: #000;
    margin: 0;
    padding: 0;
}

.swiper {
    width: 90%;
    height: 100%;
}

.swiper-slide {
    text-align: center;
    font-size: 18px;
    /* background: #fff; */
    background-color: transparent;
    display: flex;
    justify-content: center;
    align-items: center;
    /* border: 5px solid yellow; */

}

@media (max-width: 760px) {
    .swiper-button-next {
        right: 20px;
        transform: rotate(90deg);
    }

    .swiper-button-prev {
        left: 20px;
        transform: rotate(90deg);
    }

    .secondSwiper {
        height: 100vh;
        width: 100%;

    }

    .homesection2__card {
        width: 80%;

        img {
            width: 100%;
        }
    }

    .section3 {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        /* background-color: red !important; */
    }
}

.section2 {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.section2__all {
    display: flex;
    /* justify-content: center; */
    /* align-items: center; */
    /* width: 100%; */
    /* border: 2px solid red; */
    flex-direction: column;
}

.section2__cardhome {
    display: flex;
    justify-content: space-between;
}

.homesection2__card {
    position: relative;
    padding: 10px;
    /* box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px; */


    img {
        height: 20vh;
        margin-top: 10px;
    }
}

.cardbodysec2home {
    display: flex;
    justify-content: center !important;
    flex-direction: column;
    align-items: start;
    /* border: 1px solid red; */
    i{
        color: orange;
    }
}

.wishlistdiv {
    position: absolute;
    transform: translate(50%, 50%);
    left: 60%;
    top: 0;
    z-index: 12;
    /* display: flex; */
    display: none;
    flex-direction: column;

    button {
        border: none;
        background-color: transparent;
    }
}

.homesection2__card:hover .wishlistdiv {
    display: block;
}


.section2__cardhome {
    display: flex;
    justify-content: space-between;
    width: 100%;

    button {
        height: 30px;
        width: 30px;
        border: 1px solid rgba(255, 0, 0, 0.272);
        background-color: transparent;
        color: red;
    }

}

.section2__cardhome__text {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 12px !important;
}





/* section3 design  */
.section3 {
    width: 100%;
    display: flex;
    flex-direction: column;
    /* align-items: center; */
    /* border:  2px solid green; */
    margin-top: 30px;
}

.section3__all {
    /* border: 2px solid red; */
    display: flex;
    /* justify-content: center; */
    /* align-items: center; */
    width: 100%;
    /* border: 2px solid red; */
    /* width: 80%; */
    flex-direction: column;
}

html,
body {
    position: relative;
    height: 100%;
}

body {
    background: #eee;
    font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
    font-size: 14px;
    color: #000;
    margin: 0;
    padding: 0;
}

.thirtSwiper {
    width: 80%;
    height: 100%;
}


.swiper3 {
    text-align: center;
    font-size: 18px;
    background: #fff;
    display: flex !important;
    justify-content: center;
    align-items: center;

    img {
        width: 80%;
    }
}

@media (max-width: 760px) {
    .swiper-button-next {
        right: 20px;
        transform: rotate(90deg);
    }

    .swiper-button-prev {
        left: 20px;
        transform: rotate(90deg);
    }

    .thirtSwiper {
        height: 50vh !important;
        width: 100%;

    }

    .thirdwrapper {
        width: 100% !important;

        img {
            /* width: 100% !important; */
            height: 70%;
        }
    }
}

.swiper3 {
    position: relative;
}

.section3__text {
    position: absolute;
    transform: translate(50%, 50%);
    top: 0;
    left: 0;
    z-index: 12;
    background-color: darkblue;
    color: white;
    height: 30px;
    border-radius: 10px;
    width: 70px;
    display: flex;
    justify-content: center !important;
    align-items: center !important;

    p {
        margin-top: 10px;
        font-size: 12px;
    }

}

.swiper-button-next {
    border-radius: 50%;
    background-color: blue;
    color: white !important;
    width: 50px !important;
    font-size: 18px !important;
    height: 50px !important;

}

.swiper-button-prev {
    border-radius: 50%;
    background-color: blue;
    color: white !important;
    width: 50px !important;
    height: 50px !important;
}



/* section4 design  */
.section4 {
    width: 100%;
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.section4__names {
    width: 80%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.section4__all {
    width: 100%;
    /* border: 2px solid blue; */
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}


.homesection4__left {
    width: 40%;
    /* border: 3px solid red; */
    display: flex;
    height: 50vh;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border-radius: 20px;
    /* background-color: rgba(128, 128, 128, 0.058); */
    background-color: white;

}

.section4Card {
    height: 240px !important;
    border: none !important;
    /* box-shadow: rgba(0, 0, 0, 0.059) 0px 5px 15px; */
    padding: 10px;

    img {
        height: 90px;
    }
    i{
        color: orange;
        font-size: 17px;
    }
}

.section4__cardbody {
    height: 100px !important;
    /* border: 2px solid green; */
}

.homesection4__right {
    display: flex;
    justify-content: center;
    align-items: center;
    /* border: 3px solid yellow; */
    height: 50vh;
    gap: 10px;
    /* margin-bottom:  19px; */
    border-radius: 20px;
    background-color: white;


}

.homesection4__right__left {
    height: 200px;
    display: flex;
    flex-direction: column;
    margin-left: 10px;

    img {
        height: 200px;
        width: 80%;
    }
}

.homesection4__right__right {
    height: 200px;
    display: flex;
    flex-direction: column;

    img {
        height: 200px;
        width: 80%;
    }
}

@media only screen and (max-width: 1000px) {
    .section4__all {
        display: flex;
        flex-direction: column;
    }

    .homesection4__left {
        width: 100%;
    }

    .second__name {
        display: none;
    }
}

@media only screen and (max-width: 600px) {
    .section4__all {
        display: flex;
        flex-direction: column;
        align-items: normal;
        justify-content: start;
    }

    .homesection4__left {
        display: flex;
        flex-direction: column;
        height: 120vh;
        margin-top: 100px;
    }

    .section4Card {
        height: 30vh !important;
        width: 100%;

        img {
            height: 100px;
            width: 100%;
        }
    }

}



/* section5 design  */
.section5 {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 20px;
    /* gap: 1   0px; */
}

.section5__all {
    width: 80%;
    display: flex;
    justify-content: center;
    /* align-items: center; */
    flex-direction: column;
    background-color: white;
    gap: 20px;
}
.homesection5__top{
    margin-left: 30px;
    margin-top: 10px;
    font-size: 23px;
}
.section5con {
    /* border: 2px solid red; */
    display: flex;

    /* border: none; */
    img {
        height: 150px;
        width: 200px;
    }
}

.section5row {
    display: flex;
    /* gap: 60px; */
}

.section5Card {
    height: 270px !important;
    width: 200px !important;
    /* box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px; */
    padding: 10px;
    border: none !important;
   
}

@media only screen and (max-width: 958px) {
    .section5row {
        gap: 100px !important;
    }
}

@media only screen and (max-width: 734px) {
    .section5row {
        width: 100%;
    }

    .section5Card {
        width: 100% !important;

        img {
            width: 100% !important;
            height: 30vh;
        }
    }
}


/* section6 design  */


html,
body {
    position: relative;
    height: 100%;
}

body {
    background: #eee;
    font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
    font-size: 14px;
    color: #000;
    margin: 0;
    padding: 0;
}

.section6 {
    width: 80%;
}

.fourthSwiper {
    width: 50%;
    height: 60vh;
    border: 2px solid gold;
}

.sectio6__buttom {
    width: 100px !important;
    border: 2px solid red;

}

.wrapperdiv6 {
    border: 1px solid blue;
    width: 1000px;
}

.as {
    text-align: center;
    font-size: 18px;
    background: #fff;
    width: 250px !important;
    display: flex;
    justify-content: center;
    align-items: center;
}

.ss {
    background-color: darkblue;
}

@media (max-width: 760px) {
    .ss {
        right: 20px;
        transform: rotate(90deg);
    }

    .swiper-button-prev {
        left: 20px;
        transform: rotate(90deg);
    }
}

@media (max-width: 760px) {
    .as {
        height: 100vh;
        display: flex;
        gap: 100px;
    }

    .ss {
        right: 20px;
        transform: rotate(90deg);
        height: 80vh;

        /* width: 100% !important; */

    }

    .section6Card {
        /* height: 60vh !important; */
        /* display: flex; */
        /* gap: 100px !important; */
        background-color: red;

        img {
            height: 3vh !important;
        }
    }

    .swiper-button-prev {
        left: 20px;
        transform: rotate(90deg);
    }
}

.sectio6__buttom {}

.section6__top {
    width: 80%;
    border: 1px solid black;
}

.section6 {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 20px;
}


/* section7 design  */
.section77 {
    width: 100%;
    display: flex;
    justify-content: center;
    /* align-items: center; */
    /* margin-top: 20px; */
}

.section7 {
    width: 91%;
    display: flex;
    justify-content: center;
    /* align-items: center; */
    margin-top: 100px;
}

.homesection7__left {
    border-radius: 10px;
    width: 20%;
    /* border: 1px solid red   ; */
    height: 400px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.homesection7__card:hover{
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    

}

.homesec7__endbtn {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
    

    button {
        border: none;
        border-radius: 10px;
        height: 40px;
        width: 80%;
        background-color: rgba(128, 128, 128, 0.087);
    }
}



.section7__cardhome {
    display: flex;
    justify-content: space-between;
    width: 90%;
}

.homesection7__card {
    position: relative;

    img {
        height: 30vh;
        margin-top: 10px;
    }
}

.cardbodysec7home {
    display: flex;
    justify-content: center !important;
    flex-direction: column;
    align-items: start;
    /* border: 1px solid red; */
}

.wishlistdiv7 {
    position: absolute;
    transform: translate(50%, 50%);
    left: 60%;
    top: 0;
    z-index: 12;
    /* display: flex; */
    display: none;
    flex-direction: column;

    button {
        border: none;
        background-color: transparent;
    }
}

.homesection7__card:hover .wishlistdiv7 {
    display: block;
}


.section7__cardhome {
    display: flex;
    justify-content: space-between !important;
    /* width: 100%; */

    button {
        height: 30px;
        width: 30px;
        border: 1px solid rgba(255, 0, 0, 0.272);
        background-color: transparent;
        color: red;
    }

}

.section7__cardhome__text {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 12px !important;
}

.sec7buttons {
    width: 100%;
    /* border: 1px solid red; */
    display: flex;
    /* justify-content: space-around; */
    align-items: center;
margin-left: 20px;
    button {
        font-size: 20px;
        width: 30%;
        border-radius: 10px;
        background-color: transparent;
        border: none;
    }

}

.homesection7__left {
    background-color: white;
    ul {
        width: 100%;
        display: flex;
        flex-direction: column;
        gap: 10px;

        li {
            width: 90%;
            height: 40px;
            border-radius: 10px;
            font-size: 20px;
            color: black;
            background-color: rgba(128, 128, 128, 0.062);
            img {
                background-color: none !important;
                border-radius: 20px;
                margin-left: 10px;
            }
            span{
                margin-left: 14px;
            }
        }
    }
}

@media (max-width: 1100px) {
   
    .homesection7__left {
        display: none;
    }
    }
@media (max-width: 760px) {

    .homesection7__card {
        width: 100%;

        img {
            width: 100%;
        }
    }
}

@media only screen and (max-width: 734px) {
    .sec7con{
        width: 100%;
    }
    .section7__row {
        width: 100% !important;
        display: flex;
        flex-direction: column;
        gap: 10px;
    }
    .res__div{
        width: 100%;
    }

    .homesection7__carda {
        width: 100% !important;

        img {
            width: 100% !important;
            height: 30vh;
        }
    }
}




/* desigb section 7.5   mkmfrkmfmrkmf */


.section77_5 {
    width: 100%;
    display: flex;
    justify-content: center;
    /* align-items: center; */
    margin-top: 100px;
}

.section7_5 {
    width: 91 ++3.+0%;
    display: flex;
    justify-content: center;
    /* align-items: center; */
    margin-top: 100px;
}

.homesection7_5__left {
    width: 20%;
    /* border: 1px solid red   ; */
    height: 400px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.homesection7_5__right {
    /* width: 60%; */

}

.homesection7_5__card {
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;

}

.homesec7_5__endbtn {
    display: flex;
    justify-content: center;
    align-items: center;

    button {
        border: none;
        border-radius: 20px;
        height: 30px;
        width: 200px;
    }
}



.section7_5__cardhome {
    display: flex;
    justify-content: space-between;
    width: 90%;
}

.homesection7_5__card {
    position: relative;

    img {
        height: 30vh;
        margin-top: 10px;
    }
}

.cardbodysec7home_5 {
    display: flex;
    justify-content: center !important;
    flex-direction: column;
    align-items: start;
    /* border: 1px solid red; */
}

.wishlistdiv7_5 {
    position: absolute;
    transform: translate(50%, 50%);
    left: 60%;
    top: 0;
    z-index: 12;
    /* display: flex; */
    display: none;
    flex-direction: column;

    button {
        border: none;
        background-color: transparent;
    }
}

.homesection7_5__card:hover .wishlistdiv7_5 {
    display: block;
}


.section7_5__cardhome {
    display: flex;
    justify-content: space-between !important;
    /* width: 100%; */

    button {
        height: 30px;
        width: 30px;
        border: 1px solid rgba(255, 0, 0, 0.272);
        background-color: transparent;
        color: red;
    }

}

.section7_5__cardhome__text {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 12px !important;
}

.sec7_5buttons {
    width: 100%;
    /* border: 1px solid red; */
    display: flex;
    justify-content: space-around;
    align-items: center;

    button {
        font-size: 20px;
        width: 30%;
        border-radius: 10px;
        background-color: transparent;
        border: none;
    }

}

.homesection7_5__left {
    ul {
        width: 100%;
        display: flex;
        flex-direction: column;
        gap: 10px;

        li {
            width: 100%;
            height: 40px;
            border-radius: 10px;
            font-size: 20px;
            color: black;
            background-color: rgba(128, 128, 128, 0.062);

            img {
                background-color: none !important;
                border-radius: 20px;
            }
        }
    }
}


@media (max-width: 950px) {
    .homesection7_5__left {
        display: none;

    }
    .Section75__row{
        
        gap: 20px !important;
        width: 100% !important;
    }
    .res__div5{
        width: 100%;
       
    }

    .homesection7_5__card {
        width: 100% !important;
        img {
            width: 100% !important;
        }
    }
}






/* .section8 design  */

.section8 {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    margin-top: 10px;
}

@media (max-width: 1050px) {
    .section8 {
        display: flex;
        flex-direction: column;
        width: 100%;

        img {
            width: 100%;
            height: 60vh;
        }
    }
}








.section99 {
    width: 100%;
    display: flex;
    justify-content: center;
    /* align-items: center; */
    margin-top: 100px;
}

.section9 {
    width: 91 ++3.+0%;
    display: flex;
    justify-content: center;
    /* align-items: center; */
    margin-top: 100px;
}

.homesection9__left {
    width: 20%;
    /* border: 1px solid red   ; */
    height: 400px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.homesection7__right {
    /* width: 60%; */

}

.homesec9__endbtn {
    display: flex;
    justify-content: center;
    align-items: center;

    button {
        border: none;
        border-radius: 20px;
        height: 30px;
        width: 200px;
    }
}



.section9__cardhome {
    display: flex;
    justify-content: space-between;
    width: 90%;
}

.homesection9__card {
    position: relative;

    img {
        height: 30vh;
        margin-top: 10px;
    }
}

.cardbodysec9home {
    display: flex;
    justify-content: center !important;
    flex-direction: column;
    align-items: start;
    /* border: 1px solid red; */
}

.wishlistdiv9 {
    position: absolute;
    transform: translate(50%, 50%);
    left: 60%;
    top: 0;
    z-index: 12;
    /* display: flex; */
    display: none;
    flex-direction: column;

    button {
        border: none;
        background-color: transparent;
    }
}

.homesection9__card:hover .wishlistdiv9 {
    display: block;
}


.section9__cardhome {
    display: flex;
    justify-content: space-between !important;
    /* width: 100%; */

    button {
        height: 30px;
        width: 30px;
        border: 1px solid rgba(255, 0, 0, 0.272);
        background-color: transparent;
        color: red;
    }

}

.section9__cardhome__text {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 12px !important;
}

.sec9buttons {
    width: 100%;
    /* border: 1px solid red; */
    display: flex;
    justify-content: space-around;
    align-items: center;

    button {
        font-size: 20px;
        width: 30%;
        border-radius: 10px;
        background-color: transparent;
        border: none;
    }

}

.homesection9__card {
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;

}

.homesection9__left {
    ul {
        width: 100%;
        display: flex;
        flex-direction: column;
        gap: 10px;

        li {
            width: 100%;
            height: 40px;
            border-radius: 10px;
            font-size: 20px;
            color: black;
            background-color: rgba(128, 128, 128, 0.062);

            img {
                background-color: none !important;
                border-radius: 20px;
            }
        }
    }
}

.card {
    background-color: white !important;
}


@media (max-width: 950px) {
    .homesection9__left {
        display: none;
    }
    .homesection7__right{
        width: 100%;
    }
    .homesection9__right{
        width: 100%;
    }
    .section7__row{
        display: flex;
        flex-direction: column;
        gap: 20px !important;
    }
    .sec9__div{
        width: 100% !important;
        
        gap: 20px !important;
    }
    .res__div9{
        width: 100% !important;
    }
.homesection9__card{
    width: 100% !important;
    img{
        width: 100% !important;
    }
}
    .homesection7__card {
        width: 100% !important;

        img {
            width: 100%;
        }
    }
    .res__div{
padding: 10px !important;
    }
}

/* section10 design   */
.section10 {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
}

.all__categories {
    /* box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px; */
    width: 80%;
}

.Homecategory__top {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.Homecategory__buttom {
    display: flex;
    /* box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px; */
    justify-content: center;
    align-items: center;
    gap: 10px;
    /* border: 1px solid rgba(128, 128, 128, 0.186); */
}

.differ__sec10 {
    display: flex;
    gap: 10px;
    margin-top: 10px;

}

.disfer1__sec10 {
    display: flex;
    gap: 10px;
}

.section10__singlediv {
    /* box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px; */
    background-color: white;
    border: 1px solid rgba(128, 128, 128, 0.139);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
}

@media only screen and (max-width: 1300px) {
    .Homecategory__buttom {
        display: flex;
        flex-direction: column;
        width: 100%;
    }

    .Homecategory__top {
        display: flex;
        flex-direction: column;
        width: 100%;
    }

    .differ__sec10>div {
        width: 100%;

    }
}

.section10 {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
}

@media only screen and (max-width: 646px) {


    .Homecategory__buttom {
        width: 100%;
    }

    .differ__sec10 {
        width: 100%;
        display: flex;
        flex-direction: column;
        gap: 10px;

        div {
            box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;

            width: 100%;
        }
    }

    .Homecategory__top {
        width: 100%;
    }

    .disfer1__sec10 {
        width: 100%;
        gap: 10px;
        display: flex;
        flex-direction: column;

        div {
            box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;

            width: 100%;
        }
    }
}

.disfer1__sec10 {
    img {
        width: 84px;
    }
}

.differ__sec10 {
    img {
        width: 84px;
    }
}


/* section11 design  */

.section11__cardhome {
    display: flex;
    justify-content: space-between;

}

.homesection11__card {
    position: relative;

    img {
        height: 30vh;
        margin-top: 10px;
    }
}

.cardbodysec11home {
    display: flex;
    justify-content: center !important;
    flex-direction: column;
    align-items: start;
    /* border: 1px solid red; */
}

.wishlistdiv11 {
    position: absolute;
    transform: translate(50%, 50%);
    left: 60%;
    top: 0;
    z-index: 12;
    /* display: flex; */
    display: none;
    flex-direction: column;

    button {
        border: none;
        background-color: transparent;
    }
}

.homesection11__card:hover .wishlistdiv11 {
    display: block;
}

.homesection11__card {
    box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
}


.section11__cardhome {
    display: flex;
    justify-content: space-between !important;
    width: 100%;

    button {
        height: 30px;
        width: 30px;
        border: 1px solid rgba(255, 0, 0, 0.272);
        background-color: transparent;
        color: red;
    }

}

.section11__cardhome__text {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 12px !important;
}

.section11cards {
    margin-top: 40px;
}

.fff {
    margin-top: 30px;
}




.section11 {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 30px;
}

.section11_toptxt {
    width: 70%;
    margin-top: 20px;

    strong {
        font-size: 30px;
    }
}

.resdiv__sec11 {
    display: flex;
    gap: 10px;
    /* width: 100%; */
}

.section11cards {
    display: flex !important;
    gap: 10px;
    /* width: 100%; */
}

@media only screen and (max-width: 1100px) {
    .section11cards {
        display: flex;
        flex-direction: column;
    }
}

@media only screen and (max-width: 600px) {
    .resdiv__sec11 {
        display: flex;
        flex-direction: column;
    }
}

/* section12 design  */
.section12 {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    margin-top: 20px;
}

.section12__firstdiv {
    display: flex;
    gap: 20px;
}

.section12__seconddiv {
    display: flex;
    gap: 20px;

}

.section12__alldivs {
    display: flex;
    /* border: 1px solid blue; */
    gap: 20px;
    /* box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px; */

}

.sindle__div {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 150px;
    width: 250px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;

    i {
        width: 50px;
        height: 50px;
        border-radius: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
        color: darkblue;
        background-color: skyblue;
    }
}

@media only screen and (max-width: 1100px) {
    .section12__alldivs {
        display: flex;
        flex-direction: column;
    }

}

@media only screen and (max-width: 600px) {
    .section12__firstdiv {
        display: flex;
        flex-direction: column;
    }

    .section12__seconddiv {
        display: flex;
        flex-direction: column;
    }
}










/* footer design   000 */

footer{
    background-color: #082d5b;
height: 400px;
margin-top: 20px;
    a{
        color: #AEB4BE;
        font-size: 18px;
        padding: 5px;
    }
    p{
        color: #AEB4BE;
    }
    h2{
        color: white;
        font-size: 19px;
    }
    i{
        color: white;
        font-size: 20px;
    }
}

.first__footer__left__text{
    
}

.first__footer{
    display: flex;
    gap: 30px;
}

.first__footer__right{
    display: flex;
    flex-direction: column;
}
.first__footer__left__text{
    width: 390px;
}

.second__footer__first{
    display: flex;
    flex-direction: column;
}
.second__footer{
    display: flex;
    gap: 30px;
}
.footer__all{
    display: flex;
    gap: 30px;
}
.footer{
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer__icons{
    display: flex;
    /* justify-content: center; */
/* align-items: center; */
gap: 10px;
}
.playStore__img{
    display: flex;
    /* border: 1px solid red; */
    width: 180px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    background-color:#02254e ;
    border-radius: 10px;
   p{
    color: white;
   }
    img{
        width: 30px;
        height:40px;
        background-color: transparent;
    }
}
.all__img__footer{
    display: flex;
    gap: 10px;
}

@media only screen and (max-width: 1120px) {
    .footer{
        height: 600px;
    }
  .footer__all{
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: start;
    justify-content: start  ;
    
    width: 100%;
  }
 .first__footer{
    width: 90%;
 }
 .first__footer__left{
    width: 50%;
 }
 .second__footer{
    width: 90%;
 }
 .second__footer__first{
    width: 50%;
 }
  }

  @media only screen and (max-width: 785px) {
    .footer{
        height: 1000px;
    }
   .first__footer{
    display: flex;
    flex-direction: column;
    /* align-items: center; */
    margin-left: 30px;

   }
   .second__footer{
    display: flex;
    flex-direction: column;
    /* align-items: center; */
    margin-left: 30px;
   }
   .all__img__footer{
    display: flex;
    flex-direction: column;
   }
    }

    @media only screen and (max-width: 400px) {
       .first__footer{
        width: 70%;
       }
       .second__footer{
        width: 70%;
       }
       .first__footer__left__text{
        width: 250px;
       }.footer{
        height: 1200px;
       }
        }